.header
{
    background-color: navy;
    color: white;
    padding-inline: 10px;
}
.footer
{
    background-color: gray;
    color: white;
    }
.container
{
    margin:0px;
}
*
{
    margin: 0px;
}
    